{% extends 'base.html.twig' %}

{# @var entry entity \App\Entity\Post #}
{# @var entryTag entity \App\Entity\Tags #}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<div class="container mx-auto my-5">
    <div class="example-wrapper prose">
        <h1 class="text-2xl">Blog Posts ✅</h1>
        
        <table class="table table-zebra">
            <tr>
              <th>Title</th>
              <th>Summary</th>
              <th>Author</th>
              <th>Tags</th>
              <th>Published</th>
            </tr>
            {% for entry in entries %}
                <tr>
                  <td>
                    <a href="{{ path('blog_show', { slug: entry.slug }) }}">
                      {{ entry.title }}
                    </a>
                  </td>
                  <td>
                    {{ entry.summary|slice(0, 50) }}...
                  </td>
                  <td>
                    {{ entry.author.fullName }}
                  </td>
                  <td>
                    {% for entryTag in entry.tags %}
                      <div class="badge badge-soft badge-primary">
                        {{ entryTag.name }}
                      </div>
                    {% endfor %}
                  </td>
                  <td>
                    {{ entry.publishedAt|date }}
                  </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
