{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <div class="example-wrapper prose">
        <h1 class="text-2xl">Blog Posts ✅</h1>
        
        <table class="table table-zebra">
            <tr>
              <th>Title</th>
              <th>Summary</th>
              <th>Author</th>
              <th>Tags</th>
              <th>Published</th>
            </tr>
            {% for item in entries %}
                <tr>
                  <td>
                    <a href="{{ path('blog_show', { slug: item.slug }) }}">
                      {{ item.title }}
                    </a>
                  </td>
                  <td>
                    {{ item.summary|slice(0, 50) }}...
                  </td>
                  <td>
                    {{ item.author.fullName }}
                  </td>
                  <td>
                    {% for itemChild in item.tags %}
                      <div class="badge badge-soft badge-primary">
                        {{ itemChild.name }}
                      </div>
                    {% endfor %}
                  </td>
                  <td>
                    {{ item.publishedAt|date }}
                  </td>
                </tr>
            {% endfor %}
        </table>
    </div>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% endblock %}
